<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
  </head>
  <body>
    <header>
      <!-- ===top_header=== -->
      <div>
        <div class="top_header">
          <div class="container_header">
            <div class="center_header">
              <span class="text"
                >Summer Sale For All Swim Suits And Free Express Delivery - OFF
                50%!</span
              >
              <span class="link">
                <a href="">ShopNow</a>
              </span>
            </div>

            <div class="right_header">
              <div>
                <span>English</span>
              </div>
              <div class="icon">
                <i class="fa-solid fa-chevron-down"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- ===bottom_header=== -->
        <div class="bottom_header">
          <div class="navbar">
            <div class="nav_left">
              <h1>Exclusive</h1>
            </div>

            <div>
              <ul class="nav_center">
                <li><a href="/page/index.html">Home</a></li>
                <li><a href="/page/categories.html">Category</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Sign Up</a></li>
              </ul>
            </div>

            <div class="nav_right">
              <div class="right_search">
                <input type="text" placeholder="What are you looking for?" />
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>

              <div class="right_icon">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
