<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>title_main</title>
    <!-- poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/d3822cd93a.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/assets/styles/main.css" />
  </head>
  <body>
    <div class="title_container container">
      <div class="title_text_main">
        <div class="first_text">
          <span></span>
          <h2>Today’s</h2>
        </div>

        <div class="second_text">
          <h1>Flash Sales</h1>
        </div>
      </div>

      <!-- === countdown === -->
      <div class="countdown">
        <div class="sale">
          <ul class="time" id="timer">
            <li>
              <span>Days</span>
              <strong id="days">00 </strong>
            </li>
            <li>
              <span class="space">:</span>
            </li>
            <li>
              <span>Hours</span>
              <strong id="hours">00</strong>
            </li>
            <li>
              <span class="space">:</span>
            </li>
            <li>
              <span>Minutes</span>
              <strong id="minutes">00</strong>
            </li>
            <li>
              <span class="space">:</span>
            </li>
            <li>
              <span>Seconds</span>
              <strong id="seconds">00</strong>
            </li>
          </ul>
        </div>

        <div class="icon">
          <i class="fa-solid fa-arrow-left"></i>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
    </div>

    <!-- ==== product_sale ==== -->
    <section class="container">
      <div class="all_product"></div>

      <div class="btn-all_product">
        <button>
          <a href="/page/categories.html">View All Products</a>
        </button>
      </div>
    </section>

    <!-- === categorie === -->
    <section class="categorie container">
      <div class="component-red">
        <div class="first_text">
          <span></span>
          <h2>Categories</h2>
        </div>

        <div class="text-icon">
          <div class="second_text">
            <h1>Browse By Category</h1>
          </div>

          <div class="icon">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="categorie-link">
        <div class="categorie-content">
          <div class="image">
            <a href="">
              <img src="/assets/icon/category/Category-CellPhone.svg" alt="" />
            </a>
          </div>
          <div class="text">
            <span>Phones</span>
          </div>
        </div>
        <div class="categorie-content">
          <div class="image">
            <a href="">
              <img src="/assets/icon/category/Category-Computer.svg" alt="" />
            </a>
          </div>
          <div class="text">
            <span>Computers</span>
          </div>
        </div>
        <div class="categorie-content">
          <div class="image">
            <a href="">
              <img src="/assets/icon/category/Category-SmartWatch.svg" alt="" />
            </a>
          </div>
          <div class="text">
            <span>SmartWatch</span>
          </div>
        </div>
        <div class="categorie-content">
          <div class="image">
            <a href="">
              <img src="/assets/icon/category/Category-Camera.svg" alt="" />
            </a>
          </div>
          <div class="text">
            <span>Camera</span>
          </div>
        </div>
        <div class="categorie-content">
          <div class="image">
            <a href="">
              <img src="/assets/icon/category/Category-Headphone.svg" alt="" />
            </a>
          </div>
          <div class="text">
            <span>HeadPhones</span>
          </div>
        </div>
        <div class="categorie-content">
          <div class="image">
            <a href="">
              <img src="/assets/icon/category/Category-Gamepad.svg" alt="" />
            </a>
          </div>
          <div class="text">
            <span>Gaming</span>
          </div>
        </div>
      </div>

      <div class="line"></div>
    </section>

    <!-- === this month === -->
    <section class="this-month container">
      <div class="component-red">
        <div class="first_text">
          <span></span>
          <h2>This Month</h2>
        </div>

        <div class="text-icon">
          <div class="second_text">
            <h1>Best Selling Products</h1>
          </div>

          <div class="button">
            <button>View All</button>
          </div>
        </div>
      </div>
    </section>

    <!-- ==== advertisement ==== -->
    <section class="advertisement container">
      <div class="adver-content">
        <div class="adver-left">
          <span class="adver-text">Categories</span>
          <h1>Enhance Your Music Experience</h1>

          <div class="timer">
            <div class="items">
              <strong>23</strong>
              <span>Hours</span>
            </div>
            <div class="items">
              <strong>05</strong>
              <span>Days</span>
            </div>
            <div class="items">
              <strong>59</strong>
              <span>Minutes</span>
            </div>
            <div class="items">
              <strong>35</strong>
              <span>Seconds</span>
            </div>
          </div>

          <button>Buy Now!</button>
        </div>

        <div class="adver-right">
          <div class="image-adver">
            <img src="/assets/img/JBL_BOOMBOX_2_HERO_020_x1 (1) 1.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!-- === outProduct === -->
    <section class="outProduct container">
      <div class="component-red">
        <div class="first_text">
          <span></span>
          <h2>Our Products</h2>
        </div>

        <div class="text-icon">
          <div class="second_text">
            <h1>Explore Our Products</h1>
          </div>

          <div class="icon">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="btn-all_product">
        <button>
          <a href="/page/categories.html">View All Products</a>
        </button>
      </div>
    </section>

    <!-- === featured === -->
    <section class="featured container">
      <div class="component-red">
        <div class="first_text">
          <span></span>
          <h2>Featured</h2>
        </div>

        <div class="text-icon">
          <div class="second_text">
            <h1>New Arrival</h1>
          </div>
        </div>
      </div>

      <div class="featured-content">
        <div class="content-left item">
          <div class="image item-left">
            <img src="/assets/img/ps5.png" alt="" />
            <div class="text">
              <h3>PlayStation 5</h3>
              <p>Black and White version of the PS5 coming out on sale.</p>
              <span>
                <a href="/page/categories.html"></a>
              </span>
            </div>
          </div>
        </div>

        
      </div>

      <div class="feature-bottom">
        <div class="item-bot">
          <div class="image">
            <img src="/assets/icon/feature/carfast.svg" alt="">
          </div>
          <h3>FREE AND FAST DELIVERY</h3>
          <span>Free delivery for all orders over $140</span>
        </div>

        <div class="item-bot">
          <div class="image">
            <img src="/assets/icon/feature/headphone.svg" alt="">
          </div>
          <h3>24/7 CUSTOMER SERVICE</h3>
          <span>Friendly 24/7 customer support</span>
        </div>

        <div class="item-bot">
          <div class="image">
            <img src="/assets/icon/feature/secure.svg" alt="">
          </div>
          <h3>MONEY BACK GUARANTEE</h3>
          <span>We reurn money within 30 days</span>
        </div>

      </div>

      <div class="feature-button">
        <span class="button"><i class="fa-solid fa-arrow-up"></i></span>
      </div>
    </section>

    <script src="/assets/js/flash_sale.js"></script>
  </body>
</html>
