<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>footer</title>
	<!-- poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
    />
    <!-- icon -->
    <script
      src="https://kit.fontawesome.com/d3822cd93a.js"
      crossorigin="anonymous"
    ></script>
	<link rel="stylesheet" href="/components/footer/style.css">
</head>
<body>
	<footer>
		<div class="bg_footer">

			<!-- ===container_footer=== -->
			<div class="container_footer">
				<div class="exclusive_footer flex">
					<h2>Exclusive</h2>
					<span class="sub">Subscribe</span>
					<span class="get">Get 10% off your first order</span>
					<div class="input_footer">
						<input type="text" placeholder="Enter your email" class="input">
						<img src="/assets/icon/paper.svg" alt="">
					</div>
				</div>

				<div class="support_footer flex">
					<h2>Support</h2>
					<span>111 Bijoy sarani, Dhaka,<br> DH 1515, Bangladesh.</span>
					<span>exclusive@gmail.com</span>
					<span>+88015-88888-9999</span>
				</div>

				<div class="account_footer flex">
					<h2>Account</h2>
					<span>My Account</span>
					<span>Login / Register</span>
					<span>Cart</span>
					<span>Wishlist</span>
					<span>Shop</span>
				</div>

				<div class="link_footer flex">
					<h2>Quick Link</h2>
					<span>Privacy Policy</span>
					<span>Terms Of Use</span>
					<span>FAQ</span>
					<span>Contact</span>
				</div>

				<div class="download_footer flex">
					<h2>Download App</h2>
					<span class="download_text">Save $3 with App New User Only</span>
					<div class="download_img">
						<div class="qr_img">
							<img src="/assets/img/qr_code.png" alt="QR">
						</div>
						<div class="app_img">
							<div>
								<img src="/assets/img/googlestore.png" alt="">
							</div>
							<div>
								<img src="/assets/img/appstore.png" alt="">
							</div>
						</div>
					</div>

					<div class="download_icon">
						<i class="icon fa-brands fa-facebook-f"></i>
						<i class="icon fa-brands fa-twitter"></i>
						<i class="icon fa-brands fa-instagram"></i>
						<i class="icon fa-brands fa-linkedin-in"></i>
					</div>
				</div>

			</div>

			<!-- ===bottom_footer=== -->
			 <div class="bottom_footer">
				<div>
					<img src="/assets/icon/c.svg" alt="">
				</div>
				<div>
					<span>Copyright Rimel 2022. All right reserved</span>
				</div>
			 </div>
		</div>
	</footer>
</body>
</html>