:root {
	--color-red:#DB4444;
	--color-red-hover:#e07575;
	--color-green:#00FF66;
	--color-green-hover: #a0bce0;
	--color-bg:#000000;
	--color-bg-input:#F5F5F5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.icon {
	cursor: pointer;
}

.bg_footer {
	color: white;
	background: var(--color-bg);
}

/* component flex */
.container_footer .flex {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: start;
	gap: 10px;
}

.container_footer {
	padding: 80px 136px 60px;
	display: flex;
	justify-content: space-between;
	align-items: start;

	.exclusive_footer {
		.h2 {
			font-size: 24px;
		}
		.sub {
			font-size: 20px;
		}
		.input_footer {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 12px;
			border: 1px solid white;
			border-radius: 4px;

			.input {
				background: var(--color-bg);
				outline: none;
				color: white;
				border: none;
			}
		}
	}

	.download_footer {
		.download_text {
			font-size: 12px;
			color: #afafaf;
		}

		.download_img {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.download_icon {
			width: 100%;
			display: flex;
			gap: 24px;

			.icon {
				width: 24px;
				height: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				
			}
		}
	}
}

.bottom_footer {
	padding: 24px 0 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: #353535;
	border-top: 1px solid #353535;

}
